# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Quasar build- und generierte Verzeichnisse
dist/
build/
.quasar/

# Temporäre Dateien und Ordner
tmp/
temp/

# Lokale Umgebungsvariablen (können sensible Daten enthalten)
.env
.env.local
.env.*.local

# IDE- und Editor-spezifische Dateien
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db
